ZHIPU_API_KEY=aca3b118834d4a49bcd6e164c14541ed.0mVW8ntTF7RlvvEl
GLM_47_API_KEY=aca3b118834d4a49bcd6e164c14541ed.0mVW8ntTF7RlvvEl
AUTOGLM_PHONE_API_KEY=aca3b118834d4a49bcd6e164c14541ed.0mVW8ntTF7RlvvEl
SUPABASE_URL=https://ffnnbibnlntzinssqqar.supabase.co
SUPABASE_ANON_KEY=buzCe4-ryvfos-ronqex
DB_PASSWORD=hermes_secret
USER_ID=default
HERMES_PORT=8000
